
#===============================
# Base Splunk Install Variables
#===============================

#
# Change These:
# (Username / password type variables that should be changed)
#

# Remote host username, password, enable password, and SSH private key file (if needed)
ansible_user: ubuntu
ansible_ssh_pass: samplePassword
ansible_become_pass: samplePassword
# ansible_ssh_private_key_file: ~/.ssh/my_priv_key

# Username and password for Splunk admin user
splunk_user: admin
splunk_pass: splunker

#
# Reasonable Defaults
# (The variables are reasonable defaults and can be safely left alone)
#

# Ansible connection defaults
ansible_connection: smart
ansible_port: 22

# User and group that will run splunkd on the OS and own Splunk files
os_user: splunk
os_group: splunk

# $SPLUNK_HOME path
splunk_home: /opt/splunk

# Checksum algorithm (md5 is the default)
splunk_tgz_checksum_alg: md5



#=========================
# Splunk Version Selector
#=========================

# Latest Splunk version, filename, checksum, and hashing algorith (for wget pull)
splunk_version: 7.2.6
splunk_tgz: splunk-7.2.6-c0bf0f679ce9-Linux-x86_64.tgz
splunk_tgz_checksum: 4a182b7189e8b1be70e4ba8516ca0548

# Installation method (pick one): 
# systemd - 7.2.2 or later requried. Support for Workload Management. Recommended.
# initd - Suppored on any version, but no Workload Management support.
install_method: systemd




#===========================================================
# Previous Version Library (uncomment to use) 
# (also I need to figure out how to optimize this someday)
#===========================================================

# Systemd supported versions 
# (Workload Management supported) 
# (>= 7.2.2)
#------------------------------------

# 7.2.x

# splunk_version: 7.2.6
# splunk_tgz: splunk-7.2.6-c0bf0f679ce9-Linux-x86_64.tgz
# splunk_tgz_checksum: 4a182b7189e8b1be70e4ba8516ca0548

# splunk_version: 7.2.5.1
# splunk_tgz: splunk-7.2.5.1-962d9a8e1586-Linux-x86_64.tgz
# splunk_tgz_checksum: ed92450d0edb252ae9ecb9cc498732a4

# splunk_version: 7.2.5
# splunk_tgz: splunk-7.2.5-088f49762779-Linux-x86_64.tgz
# splunk_tgz_checksum: 736ffdffa71e1f9afd1eb56fe82acc28

# splunk_version: 7.2.4.2
# splunk_tgz: splunk-7.2.4.2-fb30470262e3-Linux-x86_64.tgz
# splunk_tgz_checksum: 85e83bd398a5a2acccf6d519f202a854

# splunk_version: 7.2.4
# splunk_tgz: splunk-7.2.4-8a94541dcfac-Linux-x86_64.tgz 
# splunk_tgz_checksum: db26193acd43e33f1cdf04507aa368f1


# Initd only versions
# (no Workload Management support)
# (< 7.2.2)
#------------------------------------

# 7.1.x

# splunk_version: 7.1.7
# splunk_tgz: splunk-7.1.7-39ea4c097c30-Linux-x86_64.tgz
# splunk_tgz_checksum: ff496bd5ad832258204a2c8edb3e151e

# splunk_version: 7.1.6
# splunk_tgz: splunk-7.1.6-8f009a3f5353-Linux-x86_64.tgz
# splunk_tgz_checksum: 5512ec4ed01a3ae9fc4f480b010d8577


# 7.0.x

# splunk_version: 7.0.9
# splunk_tgz: splunk-7.0.9-12f0d9382e96-Linux-x86_64.tgz
# splunk_tgz_checksum: 032c99f736e51a62195f25058fae3415


# 6.6.x

# splunk_version: 6.6.12
# splunk_tgz: splunk-6.6.12-ff1b28d42e4c-Linux-x86_64.tgz
# splunk_tgz_checksum: 09b209e37901ce67e2bbbd4050c8124c

