[Unit]
Description=disable-thp script
DefaultDependencies=no
After=sysinit.target local-fs.target
Before=Splunkd.service splunk.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/local/bin/disable-thp

[Install]
WantedBy=multi-user.target
